.profile-container {
    padding-top: 30px;
}

.profile-info {
    text-align: center;
}

.profile-info .profile-avatar img {
    border-radius: 50%;
    max-width: 250px;
}

.profile-info .profile-name {
    font-weight: 500;
    font-size: 18px;
    background: #fff;
        box-shadow: 0 1px 11px rgba(0, 0, 0, 0.27);
        border-radius: 2px;
        width: 500px;
        display: inline-block;
        margin-top: 30px;
        vertical-align: middle;
        position: relative;
        padding: 35px;
}

.profile-info .profile-email {
    font-weight: 400;
}

.text-avatar {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    vertical-align: middle;
    text-align: center;
    border-radius: 50%;
    background: #46b5e5;
    background: linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -ms-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -moz-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -o-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: -webkit-linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
    background-image: linear-gradient(45deg,#46b5e5 1%,#1e88e5 64%,#40baf5 97%);
}

.text-avatar span {
    line-height: 200px;
    color: #fff;
    font-size: 3em;
}
.signup-container {
    text-align: center;
}



.social-btn {
    margin-bottom: 15px;
    font-weight: 400;
    font-size: 16px;
}

.social-btn img {
    height: 32px;
    float: left;
    margin-top: 10px;
}

.social-btn.google {
    margin-top: 7px;
}

.social-btn.facebook img {
    height: 24px;
    margin-left: 3px;
}

.social-btn.github img {
    height: 24px;
    margin-left: 3px;
}

.login-link {
    color: rgba(0, 0, 0, 0.65);
    font-size: 14px;
}

.signup-title {
    font-size: 1.5em;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 30px;
    color: rgba(0, 0, 0, 0.65);
}